@use '../sass/mixins.scss';

.hamburger-mobile-icon {
  z-index: 30;
  @include mixins.mq(medium) {
    display: none;
  }
  &:focus {
    outline: dotted 3px #606c38;
    outline-offset: 1rem;
  }

  & span {
    position: relative;
    &,
    &::before,
    &::after {
      width: 1.2rem;
      height: 2px;
      background-color: black;
      display: block;
      transition: all 0.2s ease;
    }

    &::before {
      position: absolute;
      content: '';
      top: -8px;
      left: 0;
    }
    &::after {
      position: absolute;
      content: '';
      top: 8px;
      left: 0;
    }
  }
  &.menu-close {
    & span::before {
      top: 0;
      transform: rotate(45deg);
      background-color: #fff;
    }
    & span {
      background-color: transparent;
    }
    & span::after {
      top: 0;
      transform: rotate(-45deg);
      background-color: #fff;
    }
  }
}
